<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated vmdistribution -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.vmdistribution.vmdistribution.presentation.VmdistributionModelWizardID"
            name="%_UI_VmdistributionModelWizard_label"
            class="hu.bme.mit.vmdistribution.vmdistribution.presentation.VmdistributionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VmdistributionModelFile.gif">
         <description>%_UI_VmdistributionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated vmdistribution -->
      <editor
            id="hu.bme.mit.vmdistribution.vmdistribution.presentation.VmdistributionEditorID"
            name="%_UI_VmdistributionEditor_label"
            icon="icons/full/obj16/VmdistributionModelFile.gif"
            extensions="vmdistribution"
            class="hu.bme.mit.vmdistribution.vmdistribution.presentation.VmdistributionEditor"
            contributorClass="hu.bme.mit.vmdistribution.vmdistribution.presentation.VmdistributionActionBarContributor">
      </editor>
   </extension>

</plugin>
